.bar {
    color: g70;
    background: g35;
    font-style: bold;
}

.dialogs {
    color: g40;
    background: g20;
}

.dialog-label {
    color: #fff;
    background: g20;
}

.dialog {
    background: g20;
}

.input {
    background: g10;
}

.chat {
    background: g10;
}

.message-owner {
    background: g15;
}